<mat-card class="card">
<h1>Counter button Component</h1>
<div>
<button mat-fab color="primary" style="margin-right: 1rem;" (click)="onIncrement()"><mat-icon>add</mat-icon></button>
<button mat-fab color="warn" style="margin-right: 1rem;" (click)="onDecrement()"><mat-icon>remove</mat-icon></button>
<button mat-fab color="accent" style="margin-right: 1rem;" (click)="onReset()"><mat-icon>restart_alt</mat-icon></button>
</div>
  <app-counterdisplay></app-counterdisplay>
  <app-customcounter></app-customcounter>
</mat-card>