nav{
    display: flex;
}
 nav a{
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* margin: 0 20px; */
}
.navbar div a{
    margin-left: 10px;
}
